*{
    color: black;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}

.container-route {
   background-image: url('../images/image\ 53.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   background-origin: content-box;
   height: 100vh;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-route{
    font-size: 64px;
    margin-top: 160px;
}

.button-start{
    margin-top: 350px;
}

#start{
    width: 150px;
    height: 50px;
}